.image{
    
    
    height: 400px;
    width:100%;
    background-color: black;
   
  
   
   
}


@media only screen and (max-width: 600px) {
    .image{
    
       
        height: 220px;
        width: 100%;
       
        background-color: black;

   }
   
  }
 






 /* .imagee {
    position: relative;
   
}


.image_imgg{
    display: block;
    width: 100%;
}

.image_overlayy{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(207, 134, 134, 0.6);
    color:black;
    font-family: 'Quicksand,sans-serif';
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.50s;
}

.image_overlay--blurr{
    backdrop-filter: blur(5px);
    
}



  


.image_overlayy > *{
    transform: translate(20px);
    transition: transform 0.50s;
}



.image_overlayy:hover{
    opacity: 1;
}


.image_overlayy:hover > *{
    transform: translate(0);
}







.image_titlee{
    font-size: 2em;
    font-weight: bold;
} */

/* .image_description{
    font-size: 1.25em;
    margin-top: 0.25em;

}  */




